.pokemon-entity
{
    padding: 15px;
}

.pokemon-image
{
    width: 165px; /* Set the desired width of the frame */
    height: 165px; /* Set the desired height of the frame */
    clip-path: circle(50%); /* Create a circular shape using clip-path */
    overflow: hidden; /* Ensure the content is within the circular frame */
    position: relative; /* Add position: relative to establish a positioning context for the pseudo-element */
    /* border: 5px solid rgb(235, 214, 217); Set a transparent border initially */
    border-radius: 50%; /*Create a circular shape for the border*/
    background-color: rgb(236, 232, 233);
}

.pokemon-image img {
    width: 90%; /* Make the image fill the circular frame */
    height: 100%; /* Make the image fill the circular frame */
    object-fit: contain; /* Maintain aspect ratio and fit within the frame */
    object-position: center;
}

/* On hover, change the border color to pink */
.player-pokemon.canUse:hover {
    /* border-color: rgb(193, 160, 165); */
    background-color: rgb(232, 206, 210);
    cursor: pointer;
}

.player-pokemon.canNotUse{
    /* border-color: rgb(193, 160, 165); */
    opacity: 0.5;
}

.player-pokemon.canNotUse:hover
{
    cursor: not-allowed;
}

.opponent-pokemon:hover {
    cursor: not-allowed;
  }